.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}
.menu{
  margin: auto 15px;
  display: none;
}
.topbarLeft {
  flex: 3;
}

.logoImg{
  width: 80px;
}
.logotopbar{
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.topbarCenter {
  flex: 5;
}

.searchbar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin: auto;
}

.searchInput {
  margin-left: 6px;
  border: none;
  width: 93%;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
@media only screen and (max-width: 575px) {
  .topbarIcons,.topbarLink{
    display: none;
  }
  .topbarLeft,
  .topbarCenter,
  .topbarRight {
    flex: 1;
  }
  .menu{
    display: block;
    margin-right: 0px;
  }
}
@media only screen and (min-width:576px) and (max-width: 768px) {
  .topbarLeft,
  .topbarCenter,
  .topbarRight {
    flex: 1;
  }

  .searchInput {
    width: 80%;
  }
}